<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Refinance Eligibility Customer Search</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="src/app.js"></script>

</head>
<body>
<div class="container" ng-app="sortApp" ng-controller="mainController">
    <div class="alert alert-info">
        <h3 class="text-muted">Refinance Eligibility Customer Search</h3>
           
    </div>

    <form name="refiEligibleForm">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search Client" ng-model="search"/>
                </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Borrower Name
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'address'; sortReverse = !sortReverse">
                    Borrowers Address
                    <span ng-show="sortType == 'address' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'address' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'phone'; sortReverse = !sortReverse">
                    Borrowers Phone
                    <span ng-show="sortType == 'phone' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'phone' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'loan_numb'; sortReverse = !sortReverse">
                    Stonegate Loan Number
                    <span ng-show="sortType == 'loan_numb' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'loan_numb' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'eligible'; sortReverse = !sortReverse">
                    Eligibility Status
                    <span ng-show="sortType == 'eligible' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'eligible' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
        </thead>
        
            <tbody>
                <tr ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:search" ng-class="{'danger': roll.eligible == 'Non Eligible'}">
                    <td>{{ roll.name }}</td>
                    <td>{{ roll.address }}</td>
                    <td>{{ roll.phone }}</td>
                    <td>
                        <a ng-if="roll.eligible !== 'Non Eligible'" href="#" ng-click="ShowHide()">{{roll.loan_numb}}</a>
                        <a ng-if="roll.eligible == 'Non Eligible'">{{roll.loan_numb}}</a>
                    </td>
                    <td>{{roll.eligible}}</td>
                </tr>>
            </tbody>
     </table>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Client Loan Details
             </h4>
        </div>
        <div ng-show ="IsVisible">
            <div class="panel-body">
                Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    
        <p class="text-center text-muted">
            <a href="#" target="_blank">Refinance Eligibility Form</a>
        </p>

        <p class="text-center">
            by <a href="http://scotch.io" target="_blank">Stonegate Mtg Inc</a>
        </p>
    
</div>
</body>
</html>
