<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="service.js"></script>
    <script src="Scripts/dirPagination.js"></script>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js">
    </script><script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="src/app.js"></script>
    <title>Refinance Eligibility Customer Search</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>
<body>
<div class="container" ng-app="clientapp" ng-controller="mainController">
    <div class="alert alert-info">
        <h3 class="text-muted">Refinance Eligibility Customer Search</h3>
    </div>

    <form name="refiEligibleForm">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search Client" ng-model="search" ng-model-options="{ debounce: 800 }"/>
            </div>
            <!--<div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <select class="form-control" ng-model="selectedCompany" ng-options="companies as companies.Company for companies in companies"> 
                    <option value="">Select Company for Eligibility Check</option>
                </select>
            </div>-->
            <!--<div>
                <a>Company: {{selectedCompany.Company}} 
                <p>If Borrowers previous Loan Company is selected then Borrowers Refinance Status is Not Eligible</p></a>
            </div>-->
         </div>
    </form>
    
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>
                <a href="#" ng-click="sortkey = 'LastName'">
                    Borrower Last Name
                    <span ng-show="sortkey == 'LastName' && !reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortkey == 'LastName' && reverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortkey = 'Primary_Borrower'">
                    Borrower Name
                    <span ng-show="sortkey == 'Primary_Borrower' && !reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortkey == 'Primary_Borrower' && reverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                 <a>
                    Borrowers Address
                 </a>
            </td>
            <td>
                <a>
                    Borrowers Phone
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortkey = 'LoanID'; reverse = !reverse">
                    Stonegate Loan Number
                    <span ng-show="sortkey == 'LoanID' && !reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortkey == 'LoanID' && reverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortkey = 'LoanCloseDate'; reverse = !reverse">
                    Loan Close Date 
                    <span ng-show="sortkey == 'LoanCloseDate' && !reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortkey == 'LoanCloseDate' && reverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a>
                    Previous Mortgage Company
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortkey = 'eligible'; reverse = !reverse">
                    Non Eligibility Reason
                    <span ng-show="sortkey == 'eligible' && !reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortkey == 'eligible' && reverse" class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="client in clients | filter:{LastName:search}" ng-if="$index < 350">
            <td>{{ client.LastName }}</td>
            <td>{{ client.Primary_Borrower}}</td>
            <td>{{ client.AddressLine1 }}</td>
            <td>{{ client.HomePhoneNumber }}</td>
            <td><a href="#" ng-click="ShowHide()" ng-model="getLoanId" ng-init="getLoanId = client.LoanID">{{client.LoanID}}</a></td>
            <td>{{client.LoanCloseDate |date:'MM/dd/yyyy'}}</td>
            <td>{{client.Mortgage_Lender}}</td>
            <td><a ng-if="(client.Mortgage_Lender = client.Company)">Unacceptable prior company</a>
                <a ng-if="(client.LoanCloseDate | date:'yyyy/dd/MM') < (sixMonthAgo | date: 'yyyy/dd/MM') && (client.Mortgage_Lender != client.Company)">Borrower Eligible</a>
                <a ng-if="(client.LoanCloseDate | date:'yyyy/dd/MM') > (sixMonthAgo | date: 'yyyy/dd/MM')">Not 6 months past the loan origination date</a>
            </td>
            <!--<td>{{sixMonthAgo | date: 'yyyy/dd/MM'}}</td>
            <td>{{client.Company}}</td>-->
        </tr>
        </tbody>
    </table>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Client Loan Details
             </h4>
        </div>
        <div ng-show ="IsVisible">
            <div class="panel-body">
                <tr ng-repeat="borrower in borrowers" ng-if="$index < 3">
                    <td>{{ borrower.Primary_Borrower}}</td>
                    <td>{{ borrower.AddressLine1 }}</td>
                    <td>{{borrower.City}}Client CoBorrower Details will show here or other detailed information if available. {{borrower.State}} {{borrower.Zip}}</td>
                    <td>{{ borrower.HomePhoneNumber }}</td>
                    <td>{{client.LoanID}}</td>
                    <td>{{client.LoanCloseDate}}</td>
                 </tr>
            </div>
        </div>
    </div>
        <p class="text-center text-muted">
            <a href="#" target="_blank">Refinance Eligibility Search</a>
        </p>
        <p class="text-center">
            by <a href="https://tpo.stonegatemtg.com/" target="_blank">Stonegate Mtg Inc</a>
        </p>

</div>
</body>
</html>
